<!DOCTYPE html>
<html lang="es">

{% load static i18n %}

{% block head %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Registro - ZeroPapel</title>
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}

 <nav class="indigo darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">ZeroPapel</a>
    </div>
  </nav>


  <div class="container" id="upload_principal">
      <div class="row " id="upload">
        <div class="col s12">

          <div class="signup">
            <div class="center-align" id="titulo_uploadFile">
              <i class="large  material-icons ">group_add</i>
              <h3>REGISTRO DE USUARIOS</h3>
            </div>

    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}

          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
    </form>
  </div>
    </div>
  </div>
  </div>
{% endblock body %}


  <footer class="page-footer indigo darken-2">
      <div class="footer-copyright">
        <div class="container">
        © 2017 ZeroPapel
        </div>
      </div>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
