
{% load static %}
<div document-id="{{ document.pk }}" csrf="{{ csrf_token }}"></div>

  <div class="document-container">

    <div class="item row">
      <h5> {{document.title }} ::  {{ document.estado }}</h5>
      <div class="col s12">

        <!-- Fila 1 -->
        <form role="form" method="post" action="/historiers/addHistory/{{ document.pk }}/" >
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ document.pk }}">
          <div class="row">
            <div class="input-field col s2">
              <input class="waves-effect" id="f1_i1" value="Enviar" type="submit" >
            </div>
            <div class="input-field col s10">
              <input id="f1_i2" class="form-control input-sm" placeholder="Ingresa un comentario..." name="comentario" maxlength="255" type="textarea">
            </div>
          </div>
        </form>

        <!-- Fila 2 -->
        <div class="row">
              <input name="csrfmiddlewaretoken" value="7CclELjsDB9VkIne9pamtv0sM8cFOWOAyT0vGeunjbEtQE3JUJ81FSmRJ3WBSxrs" type="hidden">
              <input name="documento" value="9" type="hidden">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s4">

                    <div class="row">

                      <form role="form" method="post" action="/historiers/updatePrincipalState/{{ document.pk }}/" >
                        {% csrf_token %}
                        <div class="input-field col s8">
                          <input type="hidden" name="documento" value="{{ document.pk }}">
                              {{ comboBox }}
                          </div>
                        <div class="input-field col s4">
                          <input class="f2_boton" value="√" type="submit">
                        </div>

                      </form>
                    </div>
                  </div>

                  <div class="input-field col s4">
                    <div class="row">
                       <form role="form" method="post" action="/activities/addReference/{{ document.pk }}/" >
                          {% csrf_token %}
                        <div class="input-field col s8">
                          <input type="hidden" name="documento" value="{{ document.pk }}">
                              {{ comboFiles }}
                        </div>
                        <div class="input-field col s4">
                          <input class="f2_boton" value="√" type="submit">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <div class="row">
                      <form role="form" method="post" action="/activities/sendFile/{{ document.pk }}/" >
                          {% csrf_token %}
                        <div class="input-field col s8">
                          <input type="hidden" name="documento" value="{{ document.pk }}">

                          <select name="users" required="" id="id_users"  class="initialized">
                            {% for id, nombre in idUserNombreUser %}
                              <option value="{{ id }}" >{{nombre}}</option>
                            {% endfor %}
                            </select>


                        </div>
                        <div class="input-field col s4">
                          <input class="f2_boton" value="√" type="submit">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>

      <div class="listaReferencias">
         {% for ref in listaReferencias %}
        <div class="chip"> {{ ref }} </div>
        {% endfor %}
      </div>
      <div class="listaTags">

        {% for tag in listaTags %}
        <div class="chip"> {{ tag }} </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
