{% load staticfiles %}

<li document-id="{{ document.pk }}" csrf="{{ csrf_token }}">


  <div class="document-container">


    <div class="item row">

      <h2> {{document.title }}</h2>
      <div class="col s12">
        <form role="form" method="post" action="/historiers/addHistory/{{ document.pk }}/" >
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ document.pk }}">
          <input type="textarea" class="form-control input-sm" placeholder="'Write a comment...' " name="comentario" maxlength="255">
          <input type="submit" value="Submit"/>
        </form>
      </div>


      <div class="releaseAction">
        <form role="form" method="post" action="/historiers/updatePrincipalState/{{ document.pk }}/" >
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ document.pk }}">
          {{ comboBox }}
          <input type="submit" value="Submit" />
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>
      <div class="listaReferencias">
         {% for ref in listaReferencias %}
        <div class="chip"> {{ ref }} </div>
        {% endfor %}
      </div>
      <div class="listaTags">

        {% for tag in listaTags %}
        <div class="chip"> {{ tag }} </div>
        {% endfor %}


      </div>
      <div class="addReferenceAction">
        <form role="form" method="post" action="/activities/addReference/{{ document.pk }}/" >
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ document.pk }}">
          {{ comboFiles }}
          <input type="submit" value="Submit" />
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>
      <div class="sendAction">
        <form role="form" method="post" action="/activities/sendFile/{{ document.pk }}/" >
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ document.pk }}">
          {{ comboUser }}
          <input type="submit" value="Submit" />
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>
      <div class="ultimoEstado">
        {{ document.estado }}
      </div>
    </div>
  </div>
</li>
